streamlit>=1.30.0
streamlit-molstar>=0.4.0
streamlit-aggrid>=0.3.4
pandas>=2.0.0
numpy<2.0.0
meeko>=0.5.0
gemmi>=0.6.3
rdkit>=2023.9.1
py3Dmol>=2.0.0
pydantic>=2.0.0
psutil>=5.9.0
setuptools>=65.0.0
torch>=2.0.0
python-docx>=1.1.0
requests>=2.31.0
